/*--color codes--
- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)
- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)*/


body {
  margin: auto 0;
  background: linear-gradient(hsl(232, 19%, 15%) 33%, hsl(230, 17%, 14%) 33% 100%);
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  color: hsl(0, 0%, 100%);
}

.sm-text {
  color: hsl(228, 34%, 66%);
  font-size: 1em;
}

.layout {
  padding: 5% 15%;
}

.container-title {
  display: flex;
  justify-content: space-between;
}

.title h4 {
  line-height: 0;
}

/* styling toggle button */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(232, 19%, 15%);
  -webkit-transition: .4s;
  transition: .4s;
}

/*input:checked + .slider {
  background-color: #2196F3;
}*/

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style for the upper grid and cards */

.upper-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  padding: 50px 0;
}

.lg-card {
  background: hsl(228, 28%, 20%);
  text-align: center;
  color: hsl(228, 34%, 66%);
  line-height: .5em;
  border-radius: 5px;
  border-top-width: 5px;
  border-top-style: solid;
}

.lg-card:hover {
  cursor: pointer;
  filter: brightness(150%);
}

p img {
  padding-right: 10px;
}

.user {
  font-size: .9em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.lg-card h1{
  font-size: 3.5em;
}

.spaced {
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 15px;
}

.lg-card .increase {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  padding-bottom: 25px;
}

.lg-card .decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
}

.increase {
  color: hsl(163, 72%, 41%);
}

.decrease {
  color: hsl(356, 69%, 56%);
}

#facebook {
  border-top-color: hsl(195, 100%, 50%);
}

#twitter {
  border-top-color: hsl(203, 89%, 53%);
}

#instagram {
  border-top: 4px solid hsl(329, 70%, 58%);
  position: relative;
}

#instagram::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2;
}

#youtube {
  border-top-color: hsl(348, 97%, 39%);
}

/* Lower grid with smaller cards */

.lower-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
}

.sm-card {
  background: hsl(228, 28%, 20%);
  height: 110px;
  width: auto;
  border-radius: 5px;
}

.sm-card:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.sm-card img {
  vertical-align: middle;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;
}